In [14]:
import pandas as pd
from IPython import display as ICD


from pickle import load, dump
from scripts.preprocess import load_index_data, load_tbills_data
from scripts.utils import print_results

In [2]:

start = '1987-01-01'
end = '2000-08-02'
log_rf = load_tbills_data('TB3MS', start, end).iloc[:,0].values
log_mk = load_index_data('^SP500TR', start, end, '1mo').iloc[:,0].values

In [3]:
bootstrap = load(open('../../res_bootstrap_unpacked.pkl', 'rb'))
values = pd.DataFrame([sample.loc['value'] for sample in bootstrap.values()], index=range(len(bootstrap)))
boot_res = values.describe().loc[['mean', 'std']]

In [5]:
boot_res

         gamma     delta     sigma         k         a         b    pi_err
mean  0.077230  0.420911  0.485440  0.169712  0.769765  4.706462  0.054911
std   0.003841  0.358876  0.018074  0.023714  0.053891  0.301137  0.012944

In [16]:
pred = load(open('../../res.pkl', 'rb'))
implied, params = print_results(pred, log_mk, log_rf, False)
ICD.display(pred)
ICD.display(implied)
ICD.display(params)

          gamma     delta     sigma         k        a          b    pi_err
value  0.102201 -0.417924  0.187363  0.563505  0.49931  10.000077  0.294141
std    0.000396  0.023129  0.003252  0.004875  0.00162   0.001222  0.032076

       E[ln R] (%)  SD[ln R] (%)   E[R] (%)  SD[R] (%)  alpha (%)      beta
value    46.049238     37.608361  56.809978    40.5483  51.758313 -0.469955

,gamma (%),delta,sigma (%),k (%),a,b,pi (%)
value,40.8804,-0.417924,37.4726,56.350500,0.499310,10.000077,29.414100
sd,0.1584,0.023129,0.6504,0.274709,0.000809,0.001222,0.665969

In [13]:
implied, params = print_results(pred, log_mk, log_rf, False)
ICD.display(implied)
ICD.display(params)

       E[ln R] (%)  SD[ln R] (%)   E[R] (%)  SD[R] (%)  alpha (%)      beta
value    46.049238     37.608361  56.809978    40.5483  51.758313 -0.469955

,gamma (%),delta,sigma (%),k (%),a,b,pi (%)
value,40.8804,-0.417924,37.4726,56.350500,0.499310,10.000077,29.414100
sd,0.1584,0.023129,0.6504,0.274709,0.000809,0.001222,0.665969