In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pickle import load, dump
from scripts.preprocess import load_index_data, load_tbills_data
from scripts.utils import print_results

In [2]:

start = '1987-01-01'
end = '2000-08-02'
log_rf = load_tbills_data('TB3MS', start, end).iloc[:,0].values
log_mk = load_index_data('^SP500TR', start, end, '1mo').iloc[:,0].values

In [3]:
bootstrap = load(open('../../res_bootstrap_unpacked.pkl', 'rb'))
values = pd.DataFrame([sample.loc['value'] for sample in bootstrap.values()], index=range(len(bootstrap)))
boot_res = values.describe().loc[['mean', 'std']]

In [4]:
with open('../../res_bootstrap.pkl', 'wb') as file:
        dump(boot_res, file)

In [5]:
boot_res

         gamma     delta     sigma         k         a         b    pi_err
mean  0.077230  0.420911  0.485440  0.169712  0.769765  4.706462  0.054911
std   0.003841  0.358876  0.018074  0.023714  0.053891  0.301137  0.012944

In [6]:
cochrane = load(open('../../res_cochrane.pkl', 'rb'))
cochrane

          gamma     delta     sigma         k         a         b    pi_err
value  0.047021  0.960933  0.481416  0.172459  0.748421  4.807627  0.057652
std    0.002637  0.078594  0.010839  0.029880  0.028682  0.115496  0.105350

In [7]:
pred = load(open('../../res.pkl', 'rb'))
pred

          gamma     delta     sigma         k        a          b    pi_err
value  0.102201 -0.417924  0.187363  0.563505  0.49931  10.000077  0.294141
std    0.000396  0.023129  0.003252  0.004875  0.00162   0.001222  0.032076

In [8]:
nopred = load(open('../../res_nopred.pkl', 'rb'))
nopred

          gamma     delta     sigma         k         a         b    pi_err
value  0.045979 -0.906263  0.250294  0.401622  0.609122  8.134123  0.084366
std    0.002142  0.111163  0.011984  0.020418  0.038075  0.265462  0.170207

In [9]:
implied, params = print_results(pred, log_mk, log_rf)

Using parameters (annualized percentages)
E[log Rf]=5.25%, E[log Rm]=5.48%, V[log Rm]=7.64%

In [10]:
implied

       E[ln R] (%)  SD[ln R] (%)  E[R] (%)  SD[R] (%)  alpha (%)      beta
value    46.035027     37.608361  56.79375   40.54758  51.757003 -0.469938

In [11]:
params

,gamma (%),delta,sigma (%),k (%),a,b,pi (%)
value,40.8804,-0.417924,37.4726,56.350500,0.499310,10.000077,29.414100
sd,0.1584,0.023129,0.6504,0.274709,0.000809,0.001222,0.665969

In [12]:
implied, params = print_results(nopred, log_mk, log_rf)

Using parameters (annualized percentages)
E[log Rf]=5.25%, E[log Rm]=5.48%, V[log Rm]=7.64%

In [13]:
implied

       E[ln R] (%)  SD[ln R] (%)   E[R] (%)  SD[R] (%)  alpha (%)      beta
value    23.433766     50.535224  37.891679  53.729937  33.122967 -0.976539

In [14]:
params.to_csv('params.csv')