In [19]:
from pickle import load, dump
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
bootstrap = load(open('../../res_bootstrap.pkl', 'rb'))
values = pd.DataFrame([sample.loc['value'] for sample in bootstrap.values()], index=range(len(bootstrap)))
boot_res = values.describe().loc[['mean', 'std']]

In [20]:
with open('../../res_bootstrap.pkl', 'wb') as file:
        dump(boot_res, file)

In [21]:
boot_res

         gamma     delta     sigma         k         a         b    pi_err
mean  0.077230  0.420911  0.485440  0.169712  0.769765  4.706462  0.054911
std   0.003841  0.358876  0.018074  0.023714  0.053891  0.301137  0.012944

In [22]:
load(open('../../res_cochrane.pkl', 'rb'))

          gamma     delta     sigma         k         a         b    pi_err
value  0.047021  0.960933  0.481416  0.172459  0.748421  4.807627  0.057652
std    0.002637  0.078594  0.010839  0.029880  0.028682  0.115496  0.105350

In [23]:
load(open('../../res.pkl', 'rb'))

          gamma     delta     sigma         k        a          b    pi_err
value  0.102201 -0.417924  0.187363  0.563505  0.49931  10.000077  0.294141
std    0.000396  0.023129  0.003252  0.004875  0.00162   0.001222  0.032076

In [24]:
load(open('../../res_nopred.pkl', 'rb'))

          gamma     delta     sigma         k         a          b    pi_err
value  0.096578 -0.901324  0.275805  0.323172  0.493515  10.000001  0.062939
std    0.001887  0.015105  0.016693  0.028529  0.006648   0.000719  0.204670